/*-- scss:defaults --*/
$black:    #000000 !default;
$body-color:    $black !default;

/*-- scss:rules --*/

h4  {
  color: green
}

h5  {
  color: blue
}

h6  {
  color: purple
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}

.content-box-blue {
  background-color: #F0F8FF;
  border-radius: 10px;
  padding: 5px;
  font-size:1em;
}

.content-box-yellow {
  background-color: #fef5c4;
  border-radius: 10px;
  padding: 5px;
  font-size:1em;
}

.content-box-green {
  background-color: #d9edc2;
  border-radius: 10px;
  padding: 5px;
  font-size:1em;
}

.newthought {
    font-variant: small-caps;
    color:blue;
}

.big {
  font-size:2em;
}
.biggest {
  font-size:4em;
}
.small {
  font-size:0.85em;
  line-height: 80%;
}

.red {
  color:red;
}

.white {
  color: white
}

.math.inline .MathJax {
  chtml: {
    mtextInheritFont: true
  }
}

.math.display .MathJax {
  chtml: {
    mtextInheritFont: true
  }
}

.hide-heading > :is(h1, h2, h3, h4, h5, h6):first-child {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

